@font-face {
    font-family: 'Ndot';
    src: url('assets/fonts/ndot-47-inspired-by-nothing.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: Playfair;
    src: url(./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: RobotoMono;
    src: url(./assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}
 body {
      background-color: #181C14;
    }
    nav {
      display: flex;
      justify-content: space-between;
      height: 5vh;
    }
    .navbox {
      background-color: #3C3D37;
      height: inherit;
      width: 50vw;
      border-bottom-left-radius: 15px;
      display: flex;
      justify-content: space-around;
    }
    .nav-link{
      color: #EAECE9;
      font-family: Playfair;
    }
    .LightMode {
      width: 1.75rem;
      padding-left: 0.2rem;
    }
    .HomePage {
        height: 95vh;
    }
    .HP-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10vh 0vh 10vh 0vh;

    }
    .HP-2{
        display: flex;
        justify-content: flex-end;
        text-align: end;
        padding: 0vh 7vw 4vh 0vw;
        font-family: Playfair;
        color: #ECDFCC;
    }
    .ProfileBG {
        background-color: #3C3D37;
        border-radius: 100%;
        height: 50vh;
        margin-left: 10vw;
    }
    .Profile {
        height: inherit;
        width: inherit;
        border: inherit;
        border-radius: inherit;
    }
    .PortfolioText {
        font-family: 'Playfair', sans-serif;
        font-size: 130px;
        color: #ECDFCC;
        margin-right: 5vw;
    }
    .HP-2 span {
        font-size: xx-large;
    }
    hr {
        border: 1px solid #EAECE9;
        margin: 0 auto;
    }
    .AboutMe {
        height: 100vh;
        font-family: 'Playfair', sans-serif;
        color: #ECDFCC;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .AboutMe > .container {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 5vw 1fr;
    }
    .separator {
        grid-row: span 2;      
        background: #ECDFCC;
        width: 2px;
        margin: 0 auto;
    }
    .container > p {
        width: 20vw;
        margin-left: 48%;
    }
    .container > h1 {
        font-size: 4rem;
        margin-bottom: 6vh;
    }
    .container > .SkillsTitle {
        margin-left: 48%;
    }
    .Projects {
        height: 100vh;
        font-family: 'Playfair', sans-serif;
        color: #ECDFCC; 
        display: flex;
        flex-direction: column;
    }
    .Projects > h1 {
        font-size: 4rem;
        margin: 6vh;
    }
    .cards {
        align-self: center;
        margin-top: 10vh;
        font-family: 'Playfair', sans-serif;
        color: #ECDFCC;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-item {
        background: #D9D9D9;
        height: 30vh;
        width: 20vw;
        border-radius: 16px;
        margin: 2.5vw;
    }
    .card-item > image {
        height: inherit;
        width: inherit;
        border: inherit;
        border-radius: inherit;
    }
    .cards > button {
        color: #ECDFCC;
        font-family: 'Playfair', sans-serif;
        font-size: 5rem;
    }